{% extends 'print/base.html' %}


{% block body %}
<div class="A4">

      <table class="table"  align="center" >
         <tr align="center">
            <th colspan="5"> BẢNG ĐIỂM MÔN HỌC</th>
         </tr>
          <tr>
            <th colspan="5"> Năm học: </th>
         </tr>
         <tr>
            <td>STT  </td>
            <td>Họ tên </td>
            <td>Lớp </td>
            <td>Điểm TB HK1 </td>
            <td>Điểm TB HK2 </td>
         </tr>

         {% for m in marks %}
            <tr>
                <td>{{ marks.index(m) + 1 }}</td>
                <td>{{ m.student_name }}</td>
                {% if m.avg_mark %}
                <td>{{ m.avg_mark }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
         {% endfor %}

      </table>
</div>

{% endblock %}